*{
    margin: 0;
}
body {
    font-family: 'Oswald', sans-serif;
}

.img2{
    height: 500px;
    width: 600px;
}

.header {
    background-image: url(../Site/img/logofelipe1.png);
    background-repeat: no-repeat;
    background-size: 190px 150px;
    background-position-y: center;

    
    background-color: #0170B3;
    height: 50px;
    padding-top: 20px;
    border-bottom: #B7D424 solid 5px;
}

.img{
    background-image: url(../Site/img/logofelipe1.png);
    background-repeat: no-repeat;
    background-size: 150px;

}

.header .nav .current a, .header span {
    color: #B7D424 ;
}

.nav {
    float: right;
}

.nav a {
    text-decoration: none;
    color: #ffffff;
    text-transform: uppercase;
    
}

.nav li {
    display: inline-block;
    padding: 5px 20px 0 20px;
    
}

.showcase {
    background-image: url(../Site/img/fundoSite.png);
    background-repeat: no-repeat;
    height: 894px;
    background-size: cover;
}

.showcase h1{
    font-size: 40px;
    color: #ffffff;
    display: flex;
    justify-content: flex-end;
    padding-right: 100px ;
    padding-top: 200px;
}

