*{
    margin: 0;
}
body {
    font-family: 'Oswald', sans-serif;
    
}

.header {
    background-image: url(../Site/img/logofelipe1.png);
    background-repeat: no-repeat;
    background-size: 190px 150px;
    background-position-y: center;

    
    background-color: #0170B3;
    height: 50px;
    padding-top: 20px;
    border-bottom: #B7D424 solid 5px;
}
.header .nav .current a, .header span {
    color: #B7D424 ;
}

.nav {
    float: right;
}

.nav a {
    text-decoration: none;
    color: #ffffff;
    text-transform: uppercase;
    
}

.nav li {
    display: inline-block;
    padding: 5px 20px 0 20px;
    
}

.form {
    padding-left: 200px;
    padding-top: 150px;
    float: left;

    box-shadow: 0px 4px 4px 4px
    rgba(0, 0, 0, 0.45);
    border-radius: 5px;
    
    
}

.form h1 {
    padding-left: 30px;
    font-size: 50px;
}

.form2 {
    padding-right: 200px;
    padding-top: 150px;
    float: right;
    box-shadow: 0px 4px 4px 4px
    rgba(0, 0, 0, 0.45);
    border-radius: 5px;
}

.form2 h1 {
    padding-left: 30px;
    font-size: 50px;

}

.label {
    padding: 0px 30px 0 30px;
    font-size: 25px;
    color: #ffffff;
}


.input {
    height: 25px;
    width: 225px;
    margin-left: 30px;
    display: flex;
    box-shadow: 0px 4px 4px 4px
    rgba(0, 0, 0, 0.45);
    border-radius: 5px;
    
}

.btn {
    margin-top: 30px;
    height: 30px;
    margin-left: 185px;
    background-color:#B7D424 ;
    border-radius: 5px;
    
}

.btn2 {
    margin-top: 30px;
    height: 30px;
    margin-left: 210px;
    background-color:#B7D424 ;
    border-radius: 5px;
}

.banner .form {
    background-color: #0170B3;
    height: 100%;
    padding: 10px 20px 10px 0px;
    border-radius: 7px;
    box-sizing: content-box;
    margin-top: 70px ;
    margin-left: 130px;
    
}

.banner2 .form2 {
    background-color: #0170B3;
    height: 100%;
    padding: 10px 10px 10px 10px;
    border-radius: 7px;
    box-sizing: content-box;
    margin-top: 70px ;
    margin-right: 130px;
    
}
